@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}